/**
 * Based on:
 * https://support.typora.io/Code-Block-Styles/
 */

.CodeMirror {
    height: auto;
    text-align: left;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.CodeMirror, .CodeMirror.cm-s-inner {
    background: #263238;
    color: rgba(233, 237, 237, 1);
    caret-color: rgba(233, 237, 237, 1);
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
}

.cm-s-inner .CodeMirror-gutters {
    background: #263238;
    color: rgb(83, 127, 126);
    border-right-width: 0;
    margin-right: 4px;
    border: none;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    white-space: nowrap;
}

.CodeMirror-placeholder {
    opacity: 0.3;
}

.CodeMirror pre {
    padding: 0 4px;
    border-radius: 0;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    background-position: 0 0;

}

.CodeMirror-lines {
    padding-left: 14px;
    cursor: text;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    z-index: 3;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
    height: 100%;
    outline: 0;
    position: relative;
    box-sizing: content-box;
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    background-color: inherit;
}

.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
    background-color: rgb(255, 255, 255);
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    text-align: right;
    color: rgb(153, 153, 153);
}

.cm-s-inner .CodeMirror-activeline-background {
    background-image: inherit;
    background-size: inherit;
    background-attachment: inherit;
    background-origin: inherit;
    background-clip: inherit;
    background-color: inherit;
}

.CodeMirror-sizer {
    position: relative;
}

.CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow: hidden;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 30px;
    z-index: 3;
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    box-sizing: content-box;
    padding-bottom: 30px;
    margin-bottom: -32px;
    display: inline-block;
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    border: none !important;
    background-position: 0 0 !important;
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.CodeMirror-code pre {
    border-right-width: 30px;
    border-right-style: solid;
    border-right-color: transparent;
    width: fit-content;
}

.CodeMirror-wrap .CodeMirror-code pre {
    border-right-style: none;
    width: auto;
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto;
}

.CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: hidden;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-measure pre {
    position: static;
}

.CodeMirror-focused div.CodeMirror-cursor {
    visibility: inherit;
}

.CodeMirror-line {
    break-inside: avoid;
}

@media print {
    .CodeMirror div.CodeMirror-cursor {
        visibility: hidden;
    }
}

.cm-header, .cm-strong {
    font-weight: 700;
}

.cm-del {
    text-decoration: line-through;
}

.cm-em {
    font-style: italic;
}

.cm-link {
    text-decoration: underline;
}

.CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}


.cm-s-inner .CodeMirror-guttermarker, .cm-s-inner .CodeMirror-guttermarker-subtle, .cm-s-inner .CodeMirror-linenumber {
    color: rgb(83, 127, 126);
}

.cm-s-inner .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0;
}

.cm-s-inner div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.15);
}

.cm-s-inner.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-inner .CodeMirror-line::selection, .cm-s-inner .CodeMirror-line > span::selection, .cm-s-inner .CodeMirror-line > span > span::selection {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-inner .CodeMirror-line::-moz-selection, .cm-s-inner .CodeMirror-line > span::-moz-selection, .cm-s-inner .CodeMirror-line > span > span::-moz-selection {
    background: rgba(255, 255, 255, 0.10);
}

.cm-s-inner .CodeMirror-activeline-background {
    background: rgba(0, 0, 0, 0);
}

.cm-s-inner .cm-keyword {
    color: rgba(199, 146, 234, 1);
}

.cm-s-inner .cm-operator {
    color: rgba(233, 237, 237, 1);
}

.cm-s-inner .cm-variable-2 {
    color: #80CBC4;
}

.cm-s-inner .cm-variable-3 {
    color: #82B1FF;
}

.cm-s-inner .cm-builtin {
    color: #DECB6B;
}

.cm-s-inner .cm-atom {
    color: #F77669;
}

.cm-s-inner .cm-number {
    color: #F77669;
}

.cm-s-inner .cm-def {
    color: rgba(233, 237, 237, 1);
}

.cm-s-inner .cm-string {
    color: #C3E88D;
}

.cm-s-inner .cm-string-2 {
    color: #80CBC4;
}

.cm-s-inner .cm-comment {
    color: #546E7A;
}

.cm-s-inner .cm-variable {
    color: #82B1FF;
}

.cm-s-inner .cm-tag {
    color: #80CBC4;
}

.cm-s-inner .cm-meta {
    color: #80CBC4;
}

.cm-s-inner .cm-attribute {
    color: #FFCB6B;
}

.cm-s-inner .cm-property {
    color: #80CBAE;
}

.cm-s-inner .cm-qualifier {
    color: #DECB6B;
}

.cm-s-inner .cm-variable-3 {
    color: #DECB6B;
}

.cm-s-inner .cm-tag {
    color: rgba(255, 83, 112, 1);
}

.cm-s-inner .cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #EC5F67;
}

.cm-s-inner .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.md-fences {
    background-color: #263238;
    color: rgba(233, 237, 237, 1);
    border: none;
}

.md-fences .code-tooltip {
    background-color: #263238;
}

.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid #b8bfc6;
    z-index: 3;
}
